body{
    font-family:font-family: 'Poppins', sans-serif; ;

}
.menu-color{ 
    font-weight: bold;
    font-size:20px;
    color:black;
}
.padding{ 
    padding-right: 5rem;
    padding-left: .5rem;
    
}
.padding-bottom{ 
    padding-bottom: 100px;
}
.head-font{ 
    font-size: 50px;
}
.btn-area{ 
    background-color:#A4BC46;
    color:white;
    padding:10px 20px;
    border-radius: 10px;
}
.penguin-card{ 
    border: 0;
}
.penguin-slide .carousel-item{ 
    background-color:#3D9970;
    border-radius: 1em;
}