
.padding{ 
    padding-right: 5rem;
    padding-left: .5rem;
    
}
.head-font{ 
    font-size: 50px;
}
.btn-area{ 
    background-color:#A4BC46;
    color:white;
    padding:15px 30px;
    border-radius: 10px;
}